@media (max-width: 768px) {
  #config-panel {
    width: 100%;
    left: 0;
  }

  #main-content.margin-apply {
    margin-left: 0;
  }

  body {
    font-size: 1.1em;
    max-height: 670px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1em;
  }

  input[type="text"],
  input[type="password"],
  textarea,
  select {
    font-size: 1em;
  }

  #main-content {
    height: calc(100vh - 56px);
    max-height: 670px;
  }

  #chat-box {
    height: calc(100% - 20px);
  }
}

body {
  background-color: #1a1a1a;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-header {
  background-color: #27496d;
  color: #f8f8f8;
}

.card-body,
.card-footer {
  padding: 10px;
}

#chat-box {
  height: calc(100% - 60px);
  overflow-y: auto;
  flex-grow: 1;
}

#chat-box::-webkit-scrollbar {
  width: 8px;
}

#chat-box::-webkit-scrollbar-thumb {
  background: #888;
}

#chat-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#config-panel {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #333333;
  padding: 20px;
  z-index: 2;
  color: #f8f8f8;
}

#main-content {
  transition: margin-left 0.5s;
}

#main-content.margin-apply {
  margin-left: 250px;
  margin-bottom: 20px;
}

.config-toggle {
  font-size: 24px;
  cursor: pointer;
}

.movie-link {
  color: #596a7c;
  cursor: pointer;
  text-decoration: underline;
}

.sender-user,
.sender-bot {
  font-weight: bold;
  margin-right: 0.25em;
  white-space: nowrap;
  display: inline;
  padding: 0;
}

.sender-user {
  color: #3a6ea5;
}

.sender-bot {
  color: #a89f91;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  padding-left: 5px;
}

.message-content {
  display: inline;
  flex: 1;
  text-align: left;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  color: white;
}

.message-content ul {
  padding-left: 20px;
  margin: 0;
}

.message-content li {
  margin: 0;
}

.text-content {
  display: inline;
  word-break: break-word;
}

.message * {
  margin: 0;
  padding: 0;
}

.message div {
  color: #ffffff;
  margin-left: 10px;
}

.btn-primary {
  background-color: #27496d;
  border-color: #27496d;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #1d3c5a;
  border-color: #1d3c5a;
}

.custom-checkbox {
  vertical-align: middle;
  margin-left: 5px;
  width: auto;
  color: #27496d;
}

.form-group label {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
  transition: background 0.3s;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #27496d;
  border-color: #27496d;
}

.custom-checkbox:checked + .checkbox-label {
  background: #27496d;
}

.custom-control-label {
  color: #f8f8f8;
}

#config-panel::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 4px;
}

#config-panel::-webkit-scrollbar-thumb {
  background: #27496d;
  border-radius: 4px;
}

#config-panel::-webkit-scrollbar-thumb:hover {
  background: #1d3c5a;
}

#config-panel::-webkit-scrollbar {
  width: 8px;
}

input[type="text"],
input[type="password"],
textarea,
select {
  background-color: #333333;
  border: 1px solid #596a7c;
  color: #f8f8f8;
  padding: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: #333333;
  border-color: #596a7c;
  outline: none;
  color: #f8f8f8;
}

::placeholder {
  color: #888888;
  opacity: 1;
}

select option {
  background-color: #f8f8f8;
  color: #2a2a2a;
}

.movie-card.visible {
  visibility: visible;
  opacity: 1;
}

.movie-details {
  /* Styles for the content within the movie card */
  font-size: 14px;
  color: #f8f8f8; /* Text color */
  background-color: #2a2a2a; /* Background color */
  padding: 10px;
  border-radius: 4px;
}

.movie-title:hover + .movie-card,
.movie-card:hover {
  display: block;
  transition-delay: 0s;
  visibility: visible;
}

.movie-title {
  position: relative;
  cursor: pointer;
}

.movie-title:hover .movie-card {
  display: block;
  bottom: 100%;
  right: 0;
}

.popover-title {
  display: none;
  background-color: #2a2a2a;
}

.popover {
  left: 52px !important;
  top: 4px !important;
  background-color: #2a2a2a; /* Set your desired background color */
  border: 1px solid #27496d; /* Set your desired border color */
  border-radius: 4px; /* Set your desired border radius */
  padding: 4px;
}

/* Updated styles for popover content */
.popover-content {
  text-align: left; /* Left-align the content */
}

.popover-content h5 {
  font-size: 16px; /* Title font size */
  margin-bottom: 5px;
  color: #f8f8f8; /* Updated text color */
  background-color: #2a2a2a;
  padding: 5px; /* Add padding to center content vertically */
}

.popover-content p {
  font-size: 14px; /* Description font size */
  color: #f8f8f8; /* Updated text color */
  background-color: #2a2a2a;
  padding: 5px; /* Add padding to center content vertically */
}

/* Customize the popover header */
.popover-header {
  background-color: #2a2a2a; /* Change to your desired background color */
  color: #f8f8f8; /* Change to your desired text color */
  font-weight: bold; /* Add additional styling as needed */
  display: none;
  padding: 0;
}

.movie-details-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Aligns items to the start of the flex container */
  background-color: #333; /* Background color of the card */
  color: #fff; /* Text color */
  padding: 15px; /* Padding inside the card */
  border-radius: 8px; /* Rounded corners of the card */
  font-size: 14px; /* Base font size */
  max-width: 600px; /* Maximum width of the card */
}

.movie-poster {
  flex-basis: 100%; /* Full width */
  text-align: center; /* Center the poster */
}

.movie-poster img {
  max-height: 300px; /* Adjust based on your preference */
  max-width: 100%; /* Adjust based on your preference */
  margin-bottom: 10px;
}

.movie-info {
  flex-grow: 1; /* Allows the movie info to grow and fill the space */
}

.movie-info h5 {
  margin: 0 0 10px 0; /* Margin around the title */
  font-size: 16px; /* Font size of the title */
}

.movie-info p {
  margin: 5px 0; /* Margin around each paragraph */
}

.movie-info .movie-description {
  font-size: 12px; /* Smaller font size for the description */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis to overflowed content */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

/* Additional styling as needed */
